{
    "command_prefix": "!",
    "datetime_fmt": "%Y-%m-%d",
    "test_server_guild_id": 12345,
    "db_name": "",
    "db_user": "",
    "db_pw": "",
    "db_host": "",
    "db_port": "",
    "application_channel_id": 12345,
    "trial_member_role_id": 12345,
    "wom_group_id": 00000,
    "wom_verification_code": "123-456-789",
    "mem_level_names": [
        "Trial",
        "Junior",
        "Member",
        "Senior",
        "Tenured",
        "Esteemed",
        "Moderator",
        "Captain",
        "Owner"
    ],
    "discord_role_names": [
        "Clan Friend",
        "Trial Member",
        "Junior Member",
        "Member",
        "Senior Member",
        "Tenured",
        "Esteemed Member",
        "Moderator",
        "Skill Week Winner",
        "Boss Week Winner",
        "Lieutenant",
        "Captain",
        "Leader",
        "Owner/Deputy"
    ],
    "updateable_keys": [
        "rsn",
        "discord_id",
        "membership_level",
        "join_date",
        "special_status",
        "former_rsn",
        "alt_rsn",
        "on_leave",
        "inactive",
        "skill_pts",
        "notes"
    ],
    "true_values": [
        "true",
        "1",
        "t",
        "y",
        "yes",
        "yeah",
        "yup",
        "ye"
    ],
    "false_values": [
        "no",
        "nope",
        "nah",
        "negative",
        "false",
        "0",
        "n",
        "f"
    ],
    "timezones": [
        "UTC", "GMT", "EST", "EDT", "CST", "CDT", "MST", "MDT", "PST", "PDT",
        "UTC+0", "UTC+1", "UTC+2", "UTC+3", "UTC+4", "UTC+5", "UTC+6", "UTC+7", "UTC+8", "UTC+9", "UTC+10", "UTC+11", "UTC+12",
        "UTC-1", "UTC-2", "UTC-3", "UTC-4", "UTC-5", "UTC-6", "UTC-7", "UTC-8", "UTC-9", "UTC-10", "UTC-11", "UTC-12",
        "GMT+0", "GMT+1", "GMT+2", "GMT+3", "GMT+4", "GMT+5", "GMT+6", "GMT+7", "GMT+8", "GMT+9", "GMT+10", "GMT+11", "GMT+12",
        "GMT-1", "GMT-2", "GMT-3", "GMT-4", "GMT-5", "GMT-6", "GMT-7", "GMT-8", "GMT-9", "GMT-10", "GMT-11", "GMT-12",
        "EST", "CST", "MST", "PST", "AKST", "HST", "AST", "EET", "CET", "WET", "JST", "AEST", "ACST", "AWST",
        "Eastern Time", "Central Time", "Mountain Time", "Pacific Time", "Alaska Time", "Hawaii Time", "Atlantic Time",
        "European Time", "Central European Time", "Western European Time", "Japan Time", "Australian Eastern Time",
        "Australian Central Time", "Australian Western Time"
    ],
    "cogs": [
        "cogs.base_cog",
        "cogs.cogsmanager",
        "cogs.admin",
        "cogs.general",
        "cogs.lotto",
        "cogs.user",
        "cogs.user_lookup",
        "cogs.competition",
        "cogs.dev",
        "cogs.applications" 
    ]
}