{
    "command_prefix": "!",
    "datetime_fmt": "%Y-%m-%d",
    "test_server_guild_id": 12345,
    "db_name": "",
    "db_user": "",
    "db_pw": "",
    "db_host": "",
    "db_port": "",
    "mem_level_names": [
        "Trial",
        "Junior",
        "Member",
        "Senior",
        "Tenured",
        "Esteemed",
        "Moderator",
        "Captain",
        "Owner"
    ],
    "discord_role_names": [
        "Clan Friend",
        "Trial Member",
        "Junior Member",
        "Member",
        "Senior Member",
        "Tenured",
        "Esteemed Member",
        "Moderator",
        "Skill Week Winner",
        "Boss Week Winner",
        "Lieutenant",
        "Captain",
        "Leader",
        "Owner/Deputy"
    ],
    "updateable_keys": [
        "rsn",
        "discord_id",
        "membership_level",
        "join_date",
        "special_status",
        "former_rsn",
        "alt_rsn",
        "on_leave",
        "inactive",
        "skill_pts",
        "notes"
    ],
    "true_values": [
        "true",
        "1",
        "t",
        "y",
        "yes",
        "yeah",
        "yup",
        "ye"
    ],
    "cogs": [
        "cogs.admin",
        "cogs.general",
        "cogs.lotto",
        "cogs.user",
        "cogs.user_lookup",
        "cogs.skill_comp",
        "cogs.boss_comp",
        "cogs.dev"
    ]
}